footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #87CEEB; /* Блакитний колір */
  padding: 20px 0;
  color: #000; /* Чорний текст */
  font-family: 'Arial', sans-serif;
  text-align: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
