{% extends "base.html" %}
{% load static %}

{% block css %}
   <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}"> 
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
<div class="container-fluid rounded" style="background-color: rgba(135, 206, 235, 0.8); color: #000000;">
       <h2 class="m-2"><strong>{{ content }}</strong></h2>
       <p class="m-2">{{ text_on_page }}</p>
   </div>
{% endblock %}

{% block footer %}
<footer class="py-4">
    <div class="container">
        <p class="m-0 text-center">&copy; Bookstore 2024</p>
    </div>
</footer>
{% endblock %}
